@font-face {
    font-family: 'Poppins-regular';
    src: url('/fonts/Poppins-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins-bold';
    src: url('/fonts/Poppins-SemiBold.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
}

:root {
    /* Colors */
    --primary: rgba(87, 191, 144, 1.00);
    --secondary: rgba(62, 135, 247, 1.00);
    --100: rgba(246, 246, 246, 1.00);
    --500: rgba(153, 153, 153, 1.00);
    --700: rgba(60, 60, 59, 1.00);
    --white: rgba(255, 255, 255, 1.00);
    --black: rgba(0, 0, 0, 1.00);

    /* Font */
    --link: normal 600 clamp(1rem, 0.875rem + 0.2632vw, 1.125rem) Poppins-bold, system-ui;
    --h-h1: normal 600 clamp(3.375rem, 1.9868rem + 3.2895vw, 3.75rem) Poppins-bold, system-ui;
    --h-h2: normal 600 clamp(2.625rem, 1.5987rem + 2.6316vw, 3rem) Poppins-bold, system-ui;
    --h-h3: normal 600 clamp(2rem, 1.2105rem + 1.9737vw, 2.25rem) Poppins-bold, system-ui;
    --h-h4: normal 600 clamp(1.375rem, 1.1053rem + 0.7368vw, 1.5rem) Poppins-bold, system-ui;
    --p-small: normal 400 clamp(0.875rem, 0.7368rem + 0.2632vw, 1rem) Poppins-regular, system-ui;
    --p-medium: normal 400 clamp(1.125rem, 0.7895rem + 0.4211vw, 1.25rem) Poppins-regular, system-ui;
}

* {
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
    scroll-behavior: smooth;
}

.body {
    padding: 0 300px;
    background-color: var(--white);
}

.header {
    background-color: var(--white);
    padding: 0 300px;
    height: 104px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

.header__img,
.footer__img {
    width: 200px;
    height: 48px;
}

.nav__list {
    display: flex;
    gap: 48px;
}

.nav__list--item {
    color: var(--black);
    font: var(--link);
    transition: 0.2s;

    &:hover {
        color: var(--primary);
        transition: 0.2s;
    }
}

.header__btn,
.aboutUs__btn,
.career__btn,
.contact__ctnTextBtn {
    color: var(--primary);
    font: var(--link);
    padding: 16px 42px;
    border: solid 1px var(--primary);
    border-radius: 360px;
    transition: 0.2s;

    &:hover {
        color: var(--white);
        background-color: var(--primary);
        transition: 0.2s;
    }
}

.hero {
    padding-top: 128px;
    display: flex;
    align-items: center;
}

.hero__title {
    font: var(--h-h1);
    width: 80%;
    margin-bottom: 150px;
}

.hero__sponsor {
    position: absolute;
    display: flex;
    gap: 32px;
    background-color: var(--white);
    padding: 32px 32px;
    border-radius: 24px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    top: 57%;

}

.aboutUs {
    margin: 128px 0;
    display: flex;
    gap: 84px;
}

.aboutUs__ctnText {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 24px;
}

.aboutUs__title {
    font: var(--h-h2);
}

.aboutUs__text {
    font: var(--p-medium);
    width: 70%;
}

.aboutUs__btn {
    margin-bottom: 50px;
}

.solution {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.solution__title {
    font: var(--h-h3);
    margin-bottom: 46px;
}

.solution__ctnCard {
    display: flex;
    gap: 24px;
}

.solution__card {
    padding: 72px 38px 180px 38px;
    width: 50%;
    position: relative;
    overflow: hidden;
    z-index: 0;
    border-radius: 32px;
}

.card__title {
    font: var(--h-h3);
    margin-bottom: 30px;
}

.card__text {
    font: var(--p-medium);
}

.solution__card::before,
.solution__card::after {
    content: "";
    position: absolute;
    z-index: -1;
}

.solution__card::before {
    inset: 0;
    background-color: var(--card-bg);
    opacity: 0.2;
}

.solution__card::after {
    bottom: -100px;
    right: -50px;
    width: 150px;
    height: 150px;
    border: 35px solid var(--card-bg);
    border-radius: 50%;
    background-color: transparent;
    transform: rotate(150deg);
    clip-path: inset(50% 0 0 0);
}

.solution__card--green {
    --card-bg: var(--primary);
}

.solution__card--blue {
    --card-bg: var(--secondary);
}

.coupons {
    margin: 129px 0;
    display: flex;
    justify-content: space-between;
}

.coupons__title {
    font: var(--h-h2);
}

.coupons__title::before {
    content: "";
    bottom: -2500px;
    left: -300px;
    width: 750px;
    height: 750px;
    position: absolute;
    border: 70px solid var(--primary);
    border-radius: 50%;
    background-color: transparent;
    transform: rotate(40deg);
    clip-path: inset(0 0 50% 0);
    z-index: -1;
}

.coupons__ctnParagraphs {
    font: var(--p-medium);
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.career {
    margin-bottom: 124px;
    position: relative;
    background-color: var(--white);
}

.career__ctnTop {
    display: flex;
}

.career__ctnText {
    padding-top: 60px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
}

.career__title {
    font: var(--h-h2);
}

.career__text {
    font: var(--p-medium);
    width: 70%;
}

.career__ctnArticle {
    margin: 24px 0;
    display: flex;
    gap: 24px;
}

.career__article {
    display: flex;
    justify-content: space-between;
    width: 50%;
    background-color: var(--100);
    border-radius: 24px;
    padding: 38px;

    img {
        cursor: pointer;
    }
}

.career__articleCtnText {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.career__articleTitle {
    font: var(--h-h4);
}

.career__articleText {
    font: var(--p-small);
}

.career__link {
    font: var(--link);
    color: var(--primary);
    float: right;
}

.footer {
    display: flex;
    margin-bottom: 32px;
}

.footer__ctnMain {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding-right: 30px;
    border-right: 1px solid var(--black);
}

.footer__ctnSec {
    display: flex;
    flex-direction: column;
    gap: 12px;
    width: 25%;
    padding: 0 30px;

    span {
        font: var(--h-h4);
    }

    p {
        font: var(--p-small);
    }
}

.footer__ctnMainText {
    font: var(--p-small);
}

.bar {
    border-right: 1px solid var(--black);
}

.footer__socialMedia {
    display: flex;
    gap: 14px;
    align-items: center;
}

.footer__socialMedia--item {
    width: 24px;
    height: 24px;
    cursor: pointer;
}
.contact {
    display: flex;
    margin-top: 160px;
}
.contact__ctnText {
    width: 50%;
}
.contact__form {
    width: 50%;
}
.contact__title {
    font: var(--h-h1);
}
.contact__text {
    margin: 32px 0 24px 0;
    font: var(--p-medium);
    width: 70%;
}
.contact__ctnArticle {
    display: flex;
    margin-bottom: 42px;
}
.contact__article {
    width: 50%;
}
.contact__articleTitle {
    font: var(--h-h4);
    margin-bottom: 12px;
}
.contact__articleText {
    font: var(--p-small);
}
.contact__form {
    position: relative;
    padding: 42px;
    display: flex;
    flex-direction: column;
    gap: 24px;
}
.contact__form::before {
    content: "";
    background-color: var(--primary);
    opacity: 0.2;
    position: absolute;
    inset: 0;
    z-index: -1;
    border-radius: 32px;
}
.form__title {
    font: var(--h-h4);
}
.form__input {
    width: 97%;
    height: 52px;
    border-radius: 8px;
    padding-left: 16px;
    border: 1px solid var(--500);
    margin-top: 12px;
}
.form__label {
    font: var(--p-medium);
}
.textarea {
    padding-top: 16px;
    height: 213px;
}
.form__submit {
    font: var(--link);
    color: var(--secondary);
    border: 1px solid var(--secondary);
    background-color: transparent;
    border-radius: 360px;
    padding: 16px 42px;
    transition: 0.2s;

    &:hover {
    color: var(--white);
    background-color: var(--secondary);
    transition: 0.2s;
    }
}
.form__ctnCheckBox {
    display: flex;
    align-items: center;
    gap: 8px;
}
.form__checkBox {
    width: 24px;
    height: 24px;
}
.form__labelCheckBox,
input,
textarea {
    font: var(--p-small);
}